<!--<div>-->
<!--<div class="app-overlay"-->
<!--style="height:100%;background-color:rgba(0, 0, 0, 0.18)"-->
<!--&gt;-->
<!--<div-->
<!--style="height:100%;background-color:rgba(0, 0, 0, 0.18)"-->
<!--fxLayout-->
<!--fxLayoutAlign="space-around center"-->
<!--&gt;-->
<!--<md-progress-spinner -->
<!--class="spinner"mode="indeterminate"-->
<!--&gt;</md-progress-spinner>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="app-overlay"
     fxLayout="column"
     fxLayoutAlign="center">
  <div fxLayout="row"
       fxLayoutAlign="center"
  >
    <md-progress-spinner class="spinner"mode="indeterminate"></md-progress-spinner>
  </div>
</div>
